html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a, a:visited {
  color: #224286;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.bold {
  font-weight: bold;
}

.red {
  color: rgb(192, 21, 21);
}

.white {
  color: white;
}

.green {
  color: rgb(59, 185, 59);
}

.btn {
  background-color: rgba(255, 204, 153, 0.33);
  font-size: 20px;
}

.not-implemented {
  cursor: no-drop !important;
}

header {
  display: block;
  height: 70px;
  background-color: rgba(255, 204, 153, 0.33);
  text-align: center;
  line-height: 70px;
}

header a {
  margin: 40px;
  font-size: 30px;
  padding: 15px;
  border-radius: 5px;
}

header a.current {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  color: black;
}

.main {
  margin: 30px auto;
  width: 960px;
}

.main #index {
  height: 669px;
  background-image: url(../assets/phone.png);
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  font-size: 30px;
}

.main #index .logo {
  margin: auto;
  height: 135px;
  width: 143px;
  background-image: url(../assets/bell.png);
  background-repeat: no-repeat;
  position: relative;
  top: 150px;
}

.main #index .logo .christmas {
  display: block;
  width: 235px;
  position: relative;
  top: -40px;
  left: -45px;
}

.main #index .logo .title {
  position: relative;
  top: 110px;
}

.main #index .authors {
  margin: 100px 0 0 250px;;
}

.main #phone {
  height: 669px;
  background-image: url(../assets/phone.png);
  background-repeat: no-repeat;
  position: relative;
}

.main #phone.flipped {
  display: none;
}

.main #phone.flipped > * {
  display: none;
}
  
.main #phone.flipped:after {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/phone-back.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: block;
  content: "";
}

.main .text-content {
  margin: 100px 200px 0 0;
  float: right;
  width: 200px;
  position: relative;
  z-index: 10;
}

#index .text-content {
  text-align: left;
  width: 480px;
  font-size: 22px;
  margin: 100px 0 0 0;
}

.main #proto .text-content .btn {
  display: block;
  margin: 2px;
}

.main .phone {
  color: #bbb;
  position: absolute;
  left: 45px;
  top: 90px;
  width: 305px;
  height: 513px;
  overflow: hidden;
}

.main .phone .content-wrapper {
  width: 400px;
  height: 513px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main .phone .content {
  min-height: 513px;
  width: 305px;
  background-color: black;
  position: relative;
  left: 0;
  -webkit-transition: left 0.4s ease-in;
}

.main .phone .content.slidein {
  left: 310px;
  -webkit-transition: left 0s;
}

.main .phone .content.slideout {
  left: 310px;
  -webkit-transition: left 0.4s ease-in;
}

.main .phone .content.clear {
  background-color: transparent;
}

.phone .content > header {
  overflow: hidden;
  background-color: #224286;
  height: 40px;
  padding-left: 30px;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 1px solid #555;
}

.phone .content > header .icon {
  float: left;
  position: relative;
  top: 5px;
  background-image: url(../assets/bell.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 30px;
  width: 30px;
}

.phone .content > header .icon:before {
  content: "<";
  position: absolute;
  top: 0;
  left: -20px;
  line-height: 30px;
  -webkit-transform: scale(1, 3);
}

.phone .content > header .title {
  font-size: 17px;
  float: left;
  margin-left: 10px;
}

.phone .content .row {
  width: 305;
  margin: auto;
  height: 45px;
  line-height: 45px;
  font-size: 17px;
  padding-left: 30px;
  padding-right: 10px;
  border-bottom: 1px solid #555;
}

.phone .content .row.clickable {
  cursor: pointer;
}

.phone .content .row.header {
  font-size: 13px;
  height: 22px;
  background-color: #465274;
  line-height: 22px;
  padding-left: 10px;
}

/*
.phone .content .row.not-implemented {
  position: relative;
}

.phone .content .row.not-implemented:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 305px;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.7;
}
*/

.phone .content .row .toggle {
  content: "";
  width: 55px;
  height: 20px;
  background-color: #555;
  border-radius: 3px;
  border: 1px solid #666;
  float: right;
  position: relative;
  top: 10px;
  -webkit-box-shadow: inset 0px 2px 3px #333;
}

.phone .content .row .toggle:after {
  display: block;
  position: absolute;
  width: 37px;
  height: 19px;
  line-height: 19px;
  top: 0;
  font-size: 14px;
  text-align: center;
  color: #ddd;
  border-top: 1px solid #bbb;
  border-radius: 2px;
  -webkit-box-shadow: #222 0 0 5px;
  text-shadow: #333 0 1px 1px;

  /* defaults to off */
  background-color: #707d86;
  left: 0;
  content: "OFF";
}

.phone .content .row .toggle.on:after {
  background-color: #74b336;
  left: 18px;
  content: "ON";
}

.phone .content .row .plus {
  font-size: 30px;
  float: right;
  margin-right: 20px;
}

.phone .content .row.pin:after {
  content: "";
  width: 30px;
  height: 30px;
  float: right;
  margin: 10px 12px 0 0;
  display: block;
  background-image: url(../assets/map-pin.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.phone.home-screen .top-overlay,
.phone.home-screen .left-overlay {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
}

.phone.home-screen:hover .top-overlay {
  width: 305px;
  height: 232px;
  background-color: black;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
}

.phone.home-screen:hover .left-overlay {
  float: left;
  width: 155px;
  height: 80px;
  background-color: black;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
}

.phone.home-screen:hover .button-overlay {
  float: left;
  width: 70px;
  height: 70px;
}

.phone.home-screen:hover .button-overlay:hover {
  cursor: pointer;
}

.location-map-screen .map-picture {
  height: 475px;
  background-image: url(../assets/map.png);
  position: relative;
}

.location-map-screen .map-picture .button.overlay {
  color: black;
  border: 1px solid #660000;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 5px;
}

.location-map-screen .map-picture .button.overlay.ringer,
.location-map-screen .map-picture .button.overlay.schedule,
.location-map-screen .map-picture .button.overlay.save {
  position: absolute;
  bottom: 10px;
}

.location-map-screen .map-picture .button.overlay.ringer {
  left: 10px;
}

.location-map-screen .map-picture .button.overlay.schedule {
  left: 95px;
}

.location-map-screen .map-picture .button.overlay.save {
  font-weight: bold;
  right: 10px;
}

.map-radius {
  position: absolute;
  left: 138px;
  top: 176px;

  border: 1px solid rgba(0, 92, 255, 0.7);
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: rgba(0, 92, 255, 0.2);
}

.map-radius:hover {
  cursor: pointer;
}

.map-inner-radius {
  position: absolute;
  left: 142px;
  top: 180px;

  width: 60px;
  height: 60px;
  border-radius: 80px;
}

.map-inner-radius:hover {
  cursor: default;
}

.map-pin {
  position: absolute;
  left: 161px;
  top: 190px;

  width: 30px;
  height: 30px;
  display: block;
  background-image: url(../assets/map-pin.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.chrome-message {
  color: rgb(192, 21, 21);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

a.word, a.pdf {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background-size: contain;
}

a.word {
  background-image: url(../assets/word.png);
}

a.pdf {
  background-image: url(../assets/pdf.png);
}

#docs {
  margin-top: 100px;
}

#docs a {
  margin-left: 20px;
}

#docs aside {
  margin-left: 180px;
}

#docs .link {
  width: 480px;
  margin: 10px auto;
  padding: 10px;
  height: 70px;
  font-size: 30px;
  border-radius: 5px;
}

#docs .link:hover {
  background-color: rgba(255, 204, 153, 0.33);
}
