<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/shake.css">

<header>
  <a class="index" href="#" class="current">Overview</a>
  <a class="docs" href="#docs">Documentation</a>
  <a class="proto" href="#proto">Prototype</a>
</header>

<div class="main">
  <div id="index">
    <div class="phone">
      <div class="content-wrapper">
        <div class="content">
          <div class="logo">
            <span class="christmas">
              <span class="red">Happy</span>
              <span class="green">Holidays</span>
            </span>
            <span class="title">Smart<br>Ringer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="docs"></div>
  <div id="proto">
    <div class="chrome-message">
      This was written for Chrome, if you're not running Chrome, get it.
    </div>
    <div class="text-content">
      <a class="btn call" href="#">call</a>
      <br>
      <a class="btn flip" href="#">flip phone</a>
      <a class="btn shake" href="#">shake phone</a>
    </div>
    <div id="phone"></div>
  </div>
</div>

<script type="text/html" id="phone-home-screen">
  <div class="content-wrapper">
    <div class="content clear">
      <div class="top-overlay"></div>
      <div class="left-overlay"></div>
      <div class="button-overlay"></div>
    </div>
  </div>
</script>

<script type="text/html" id="phone-main-screen">
  <div class="content-wrapper">
    <div class="content">
      <header>
        <div class="icon"></div>
        <div class="title">Smart Ringer</div>
      </header>
      <div class="row header">Current mode</div>
      <div class="row clickable ringer-toggle">
        Ringer
        <div class="toggle <%= ringer ? 'on' : '' %>"></div>
      </div>

      <div class="row header">Tactile triggers</div>
      <div class="row clickable tactile-shake">
        Shake to silence
        <div class="toggle <%= shake ? 'on' : '' %>"></div>
      </div>
      <div class="row clickable tactile-flip">
        Flip to silence
        <div class="toggle <%= flip ? 'on' : '' %>"></div>
      </div>

      <div class="row header">Proximity</div>
      <div class="row clickable proximity-location">
        Locations
      </div>

      <div class="row header">Scheduling</div>
      <div class="row clickable scheduling-calendar">
        Integrate with calendar
        <div class="toggle <%= calendar ? 'on' : '' %>"></div>
      </div>
      <div class="row clickable scheduling-recurring">
        Recurring events
      </div>

      <div class="row header">Custom Settings</div>
      <div class="row not-implemented">
        Global application settings
      </div>
      <div class="row not-implemented">
        Contact settings
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="phone-recurring-screen">
  <div class="content-wrapper">
    <div class="content">
      <header>
        <div class="icon"></div>
        <div class="title">Recurring events</div>
      </header>
      <div class="row bold not-implemented">
        Add new <span class="plus">+</span>
      </div>
      <div class="row header">Configured events</div>
      <div class="row pin">
        <div class="not-implemented">
          In class
        </div>
      </div>
      <div class="row not-implemented">
        Baby's nap time
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="phone-proximity-screen">
  <div class="content-wrapper">
    <div class="content">
      <header>
        <div class="icon"></div>
        <div class="title">Locations</div>
      </header>
      <div class="row bold add clickable">
        Add new <span class="plus">+</span>
      </div>
      <div class="row header">Saved locations</div>
      <div class="row not-implemented">
        Library
      </div>
      <div class="row not-implemented">
        Cinerama
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="phone-add-location-screen">
  <div class="content-wrapper">
    <div class="content">
      <header>
        <div class="icon"></div>
        <div class="title">Setting location</div>
      </header>

      <div class="map-picture">
        <div class="map-radius"></div>
        <div class="map-inner-radius"></div>
        <div class="map-pin" draggable="true"></div>

        <div class="button overlay ringer not-implemented">Ringer: off</div>
        <div class="button overlay schedule not-implemented">Schedule</div>
        <div class="button overlay save not-implemented">Save</div>
      </div>
    </div>
  </div>
</script>

<script src="js/jquery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/app.js"></script>
<script src="js/menu.js"></script>

<script type="text/javascript">
  SR.app = new SR.App();
  Backbone.history.start();
</script>
