<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css_style.css">
<link rel="stylesheet" href="css_shake.css">

<header>
  <a class="index" href="#" class="current">Overview</a>
  <a class="docs" href="#docs">Documentation</a>
  <a class="proto" href="#proto">Prototype</a>
</header>

<div class="main">
  <div id="index">
    <div class="phone">
      <div class="content-wrapper">
        <div class="content">
          <div class="logo">
            <span class="christmas">
              <span class="red">'Tis</span>
              <span class="white">the</span>
              <span class="green">Season</span>
            </span>
            <span class="title">Smart<br>Ringer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="docs"></div>
  <div id="proto">
    <div class="text-content">
      <a class="btn call" href="#">call</a>
      <br>
      <a class="btn flip" href="#">flip phone</a>
      <a class="btn shake" href="#">shake phone</a>
    </div>
    <div id="phone"></div>
  </div>
</div>

<script type="text/html" id="phone-home-screen">
  <div class="content-wrapper">
    <div class="content clear">
      <div class="top-overlay"></div>
      <div class="left-overlay"></div>
      <div class="button-overlay"></div>
    </div>
  </div>
</script>

<script type="text/html" id="phone-main-screen">
  <div class="content-wrapper">
    <div class="content">
      <header>
        <div class="icon"></div>
        <div class="title">Smart Ringer</div>
      </header>
      <div class="row header">Current mode</div>
      <div class="row clickable ringer-toggle">
        Ringer
        <div class="toggle <%= ringer ? 'on' : '' %>"></div>
      </div>

      <div class="row header">Tactile triggers</div>
      <div class="row clickable tactile-shake">
        Shake to silence
        <div class="toggle <%= shake ? 'on' : '' %>"></div>
      </div>
      <div class="row clickable tactile-flip">
        Flip to silence
        <div class="toggle <%= flip ? 'on' : '' %>"></div>
      </div>

      <div class="row header">Proximity</div>
      <!--
      <div class="row clickable proximity-crowd">
        Crowd detection
        <div class="toggle <%= crowd ? 'on' : '' %>"></div>
      </div>
      -->
      <div class="row clickable proximity-location">
        Locations
      </div>

      <div class="row header">Scheduling</div>
      <div class="row clickable scheduling-calendar">
        Integrate with calendar
        <div class="toggle <%= calendar ? 'on' : '' %>"></div>
      </div>
      <div class="row clickable scheduling-recurring">
        Set recurring events
      </div>

      <div class="row header">Custom Settings</div>
      <div class="row clickable proximity-crowd">
        Global application settings
      </div>
      <div class="row clickable proximity-location">
        Contact settings
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="phone-recurring-screen">
  <div class="content-wrapper">
    <div class="content">
      <header>
        <div class="icon"></div>
        <div class="title">Recurring events</div>
      </header>
      <div class="row header">Configured events</div>
      <div class="row">
        something
      </div>
    </div>
  </div>
</script>

<script src="js_jquery.js"></script>
<script src="js_underscore.js"></script>
<script src="js_backbone.js"></script>
<script src="js_app.js"></script>
<script src="js_menu.js"></script>

<script type="text/javascript">
  SR.app = new SR.App();
  Backbone.history.start();
</script>
